<div class="aside-banners">
    <div class="block-main col col-sm-4 aside-banner-konfigurator">
        <div class="mini-title">HEIZUNGS-</div>
        <div class="main-title">KONFIGURATOR</div>
        <div class="detailed-text">Rechnen Sie Ihr Angebot in 5 Min.</div>
        <div><br><a href="/konfigurator"><button class="btn btn-1 btn-1a">IHR ANGEBOT</button></a></div>
    </div>
    <div class="block-main col col-sm-4 aside-banner-shop">
        <div class="main-title">SHOP</div><br>
        <ul>
        <li class="mini-title"><a href="/?view=category&category_id=10"> HEIZUNGSPRODUKTE</a></li>
        <li class="mini-title"><a href="/?view=category&category_id=11"> SANITÄRPRODUKTE</a></li>
        </ul>
        <div><br><a href="/?view=category&category_id=11"><button class="btn btn-1 btn-1a">JETZT EINKAUFEN</button></a></div>
    </div>
    <div class="block-main col col-sm-4 aside-banner-services">
        <div class="main-title">HANDWERK</div>
       
        <div class="detailed-text" style="padding-top:5px;">
          
        <ul >
        <li class="mini-title"><a href="/?view=category&category_id=13">Thermenwartung</a></li> 
        <li class="mini-title"><a href="/?view=category&category_id=14">Ausmessung</a></li> 
        <li class="mini-title"><a href="/?view=category&category_id=17">Innenarchitektur</a></li>
        <li class="mini-title"><a href="/?view=category&category_id=12">und viel mehr</a></li>
        </ul>
        </div>
        <div><a href="/?view=category&category_id=12"><button class="btn btn-1 btn-1a" >SERVICES ANSEHEN</button></a></div>
    </div>
</div>
 <div class="clearfix"></div>
<div class="grid">
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/set-klima.jpg'}" alt="Badezimmer set"/>
        <figcaption>
            <h2>KLIMA  <span>SETS</span></h2>
            <p><br><button class="btn btn-1 btn-1a">SETS ANSEHEN</button></p>

        </figcaption>			
    </figure>
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/set-heizung.jpg'}" alt="Heizung set"/>
        <figcaption>
            <h2>HEIZUNG  <span>SETS</span></h2>
            <p><br><a href="/heizungset"><button class="btn btn-1 btn-1a">SET ANSEHEN</button></a></p>

        </figcaption>			
    </figure>
</div>
 <div class="clearfix"></div>



<!--SLIDER-->
<div class="heizung-slider">
	<br><h2 class="title">HEIZUNG SETS</h2>
			<div class="deco deco--title"></div>
			<div id="slideshow-set" class="slideshow-set">
                <a href="/heizungset">
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Gas-Brennwert-Heizung & Solarthermie</strong> zur Warmwasserbereitung
inkl. <strong>Montage</strong> & 10-Jahresgarantie für <span class="slide__price">12.399  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer1.jpg'}" alt="Angebot1" />
							
						</div>
					</div>
					
				</div>
                </a>
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Gas-Brennwertkessel</strong> (50kW) mit solarer Warmwasserbereitung
inkl. <strong>Montage</strong> & 10-Jahresgarantie für<span class="slide__price">26.599  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer2.jpg'}" alt="Some image" />
							
						</div>
					</div>
					
				</div>
				<div class="slide-set">
					<h2 class="slide__title slide__title--preview"><strong>Öl-Brennwertkessel</strong> mit <strong>Warmwasserbereiter</strong> und <strong>Solaranlage</strong>
inkl. <strong>Montage</strong> & 10-Jahresgarantie für<span class="slide__price">14.199  € </span></h2>
					<div class="slide__item">
						<div class="slide__inner">
							<img class="slide__img slide__img--small" src="{image file='assets/dist/img/slider-sets/offer3.jpg'}" alt="Some image" />
							
						</div>
					</div>
					
				</div>


				
			
		</div><!-- /homepage slider -->
		<script src="{javascript file='assets/dist/js/vendors/classie.js'}"></script>
		<script src="{javascript file='assets/dist/js/vendors/dynamics.min.js'}"></script>
		<script src="{javascript file='assets/dist/js/vendors/main.js'}"></script>
		<script>
			(function() {
				document.documentElement.className = 'js';
				var slideshow = new CircleSlideshow(document.getElementById('slideshow-set'));
			})();
		</script>



 <div class="clearfix"></div>
    
<div class="so-funktionierst row">
    <h2 class="title">SO FUNKTIONIERT'S</h2>
    <a href="/sofunktionierts">
        <div class="howitworks">
            <div class="col col-sm-4">
                <span class="shopicon shop-dateneingabe  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="DATENEINGABE"}</strong></div>
            </div>
           <div class="col col-sm-4">
                <span class="shopicon shop-angebot  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="ANGEBOT"}</strong></div>
            </div>
           <div class="col col-sm-4">
                <span class="shopicon shop-montage  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="MONTAGE"}</strong></div>
            </div>
        </div>
        </a>
</div>

<div class="partners ">
    <br><h2 class="title">UNSERE PARTNERS</h2>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/junkers.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/austria-email.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/vaillant.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/ochsner.png'}" class="img-responsive"></div>

</div>