<div class="aside-banners">
    <div class="block-main col col-sm-4 aside-banner-konfigurator">
        <div class="mini-title">HEIZUNGS-</div>
        <div class="main-title">KONFIGURATOR</div>
        <div class="detailed-text">Rechnen Sie Ihr Angebot in 5 Min.</div>
        <div><br><button class="btn btn-1 btn-1a">IHR ANGEBOT</button></div>
    </div>
    <div class="block-main col col-sm-4 aside-banner-shop">
        <div class="main-title">SHOP</div><br>
        <ul>
        <li class="mini-title"><a href=""> HEIZUNGSPRODUKTE</a></li>
        <li class="mini-title"><a href=""> SANITÄRPRODUKTE</a></li>
        </ul>
        <div><br><button class="btn btn-1 btn-1a">JETZT EINKAUFEN</button></div>
    </div>
    <div class="block-main col col-sm-4 aside-banner-services">
        <div class="main-title">HANDWERK</div>
        <br>
        <div class="detailed-text">Wir bieten folgende Handwerke an</div>
        <div><br><button class="btn btn-1 btn-1a">SERVICES BESTELLEN</button></div>
    </div>
</div>
<div class="grid">
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/set-badezimmer.jpg'}" alt="Badezimmer set"/>
        <figcaption>
            <h2>BADEZIMMER  <span>SETS</span></h2>
            <p><br><button class="btn btn-1 btn-1a">SETS ANSEHEN</button></p>

        </figcaption>			
    </figure>
    <figure class="effect-oscar">
        <img src="{image file='assets/dist/img/aside-banners/set-heizung.jpg'}" alt="Heizung set"/>
        <figcaption>
            <h2>HEIZUNG  <span>SETS</span></h2>
            <p><br><button class="btn btn-1 btn-1a">IHR ANGEBOT</button></p>

        </figcaption>			
    </figure>
</div>
 <div class="clearfix"></div>
<div class="so-funktionierst row">
    <h2 class="title">SO FUNKTIONIERT'S</h2>
        <div class="howitworks">
            <div class="col col-sm-4">
                <span class="shopicon shop-dateneingabe  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="DATENEINGABE"}</strong></div>
            </div>
           <div class="col col-sm-4">
                <span class="shopicon shop-angebot  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="ANGEBOT"}</strong></div>
            </div>
           <div class="col col-sm-4">
                <span class="shopicon shop-montage  fa-flip-horizontal"></span>
                <div class="text"><strong>{intl l="MONTAGE"}</strong></div>
            </div>
        </div>
</div>
<div class="partners ">
    <h2 class="title">UNSERE PARTNERS</h2>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/junkers.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/austria-email.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/vaillant.png'}" class="img-responsive"></div>
    <div class="col-sm-3"><img src="{image file='assets/dist/img/partners/ochsner.png'}" class="img-responsive"></div>

</div>