{$locale = setlocale(LC_ALL, array('de_DE.utf8', 'de_DE', 'de'))}
{function name=timeslottype slot=1}
	{if $slot == 1}pjAsTimeAvailable
		{elseif $slot == 2}pjAsTimeBooked
		{elseif $slot == 3} pjAsTimeSelected
		{elseif $slot == 4} pjAsTimeBooked
		{elseif $slot == 5} pjAsTimeUnavailable
		{elseif $slot == 6} pjAsTimeUnavailable
	{/if}
{/function}

{function name=daytype day=1}         
	{if $day == 1}pj-calendar-day-past
		{elseif $day == 2}pj-calendar-day-selected
		{elseif $day == 3}pj-calendar-day-today
		{elseif $day == 4}pj-calendar-day-inactive
		{elseif $day == 5}pjAsCalendarDate
	{/if}
{/function}

			<div class="panel panel-default pjAsContainer pjAsAside">
				<div class="panel-heading pjAsHead">
					<h2 class="pjAsHeadTitle">Planen Sie Ihren Termin</h2><!-- /.pjAsHeadTitle -->
                    <h4>Wählen Sie 3 bevorzugte Termine</h4>
                     <p style="text-transform: none;">Unser Mitarbeiter wird Ihnen einen Termin innerhalb 24 Stunden per E-mail bestätigen.</p>
				</div><!-- /.panel-heading pjAsHead -->

				<div class="panel-body pjAsCalendarInline">
					<div class="pjIcCalendar">
						<div class="pj-calendar">

						<div class="form-horizontal asEmployeeInfo">
    						<div class="form-group" style="display: block">
								<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
									<div class="pjAsTableTimes">

									<div class="pj-calendar-actions">
								  		<a class="btn btn-primary btn-sm pull-left pjAsCalendarLinkMonth" data-direction="prev" data-month="27" data-year="2016">
											<span class="glyphicon glyphicon-chevron-left"></span>
										</a>
											<div class="pj-calendar-ym">
												<span>Kalenderwoche</span>
												<span id="calendar_week_number">{$smarty.now|date_format:"%W"}</span>
												<span id="calendar_year">{$smarty.now|date_format:"%Y"}</span>
												<span id="calendar_month">{$smarty.now|date_format:"%B"}</span>
												<span id="calendar_time_reference" style="display:none;">{$smarty.now}</span>
											</div>
								
										<a class="btn btn-primary btn-sm pull-right pjAsCalendarLinkMonth" data-direction="next" data-month="29" data-year="2016">
										<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
	
									<div class="pj-calendar-head pj-calendar-7-columns">
										{for $day_nr=6 to 12}
								    		<div class="pj-calendar-day-header"><p>{mktime(0, 0, 0, 0, $day_nr, 0)|date_format:"%a"}</p></div>
										{/for}
							    	</div>
							    	
							    	
									  	

		<div class="pj-calendar-body pj-calendar-7-columns">
		{foreach from=$week_available item=day}	  
		<div class="pj-calendar-day {{daytype day=$day.type}|regex_replace:'/[\r\t\n]/':''}" data-iso="2016-07-11" data-time="1468195200"><p>{$day.nr}</p>
		
		<table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>		
								{foreach from=$day.ts item=timeslot}				
    							<tr><td class="text-uppercase pjAsTime {{timeslottype slot=$timeslot.type}|regex_replace:'/[\r\t\n ]/':''}"><a href="#" class="asSlotBlock asSlotAvailable" data-start="{$timeslot.start}" data-start_ts="{$timeslot.start_ts}" data-end="{$timeslot.end}" data-end_ts="{$timeslot.end_ts}" data-employee_id="{$timeslot.employee_id}" data-service_id="{$service_id}">{$timeslot.start}-{$timeslot.end}</a></td></tr>
								{/foreach}
							</tbody>
						</table>
		</div>
		{/foreach}
</div>			
		    		
					    				<input type="hidden" name="selected_employee_id">
					    				<input type="hidden" name="service_id">
										<input type="hidden" name="selected_start_ts">
										<input type="hidden" name="selected_end_ts">
    				
				    				</div><!-- /.pjAsTableTimes -->
								</div><!-- /.col-lg-8 col-md-8 col-sm-8 col-sx-12 -->
							</div><!-- /.form-group -->
				    		
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-sx-12">  
									<input class="btn btn-default pjAsBtn pjAsBtnPrimary pjAsBtnAppointment"  id="pjAsBtnAppointment" value="den Termin buchen" type="submit" '.($start_ts != 0 ? "" : 'disabled="disabled"' ).'">
										<a href="#" class="btn btn-default pjAsBtn pjAsBtnSecondary pjAsBtnBackToServices">Cancel</a>
								</div><!-- /.col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-sx-12 -->
							</div><!-- /.form-group -->
						</div>							
						</div>
					</div>
				</div><!-- /.panel-body pjAsCalendarInline -->


<div class="panel-body pjAsCalendarInline">
				<ul id="pjAsAsideCart" class="list-group pjAsAsideServices">
					
					<li class="list-group-item pjAsAsideService">
						<h3 class="pjAsAsideTitle">Gewähltes Datum</h3><!-- /.pjAsAsideTitle -->
					</li><!-- /.list-group-item pjAsAsideService -->	
					
					
					<li class="list-group-item pjAsAsideService" id="selected-service_1">
						<dl>
							<dd>
								<p><strong>Priorität1</strong> selected date </p>
								<p>start time - end time</p>
							</dd>
						</dl>
		
						<button class="pjAsBtn pjAsBtnRemove pjAsBtnRemoveSelectedAppointment" id="selected-service_1">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</li><!-- /.list-group-item pjAsAsideService -->
					
					<li class="list-group-item pjAsAsideService" id="selected-service_2">
						<dl>
							<dd>
								<p><strong>Priorität2</strong> selected date </p>
								<p>start time - end time</p>
							</dd>
						</dl>
		
						<button class="pjAsBtn pjAsBtnRemove pjAsBtnRemoveSelectedAppointment" id="selected-service_2">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</li><!-- /.list-group-item pjAsAsideService -->
					
					<li class="list-group-item pjAsAsideService" id="selected-service_3">
						<dl>
							<dd>
								<p><strong>Priorität3</strong> selected date </p>
								<p>start time - end time</p>
							</dd>
						</dl>
		
						<button class="pjAsBtn pjAsBtnRemove pjAsBtnRemoveSelectedAppointment" id="selected-service_3">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</li><!-- /.list-group-item pjAsAsideService -->					
					
				</ul><!-- /.list-group pjAsAsideServices -->
                
                <span id="calendar_debug"></span>
                
			</div><!-- /.panel panel-default pjAsContainer pjAsAside -->
</div>

<script>
/*getWeek = function(time) {
	  var date = new Date(time);

	   date.setHours(0, 0, 0, 0);
	  // Thursday in current week decides the year.
	  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
	  // January 4 is always in week 1.
	  var week1 = new Date(date.getFullYear(), 0, 4);
	  // Adjust to Thursday in week 1 and count number of weeks from date to week1.
	  return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
	                        - 3 + (week1.getDay() + 6) % 7) / 7);
	};*/

	//navigation previous/next month
	monthChangers = document.getElementsByClassName("pjAsCalendarLinkMonth");
	for(var i=0;i<monthChangers.length;i++){
		monthChangers[i].onclick = function(e) {
			e.preventDefault();
			
			$.ajax({
				type: "post",
				url: "calendar/",
				data: $(this).serialize()
			})
			.done(function (data, textStatus, request) {
				$debug = $("#calendar_debug");
				$debug.empty().append(data);
			})
			.fail(function (jqXHR, textStatus, errorThrown) {
				if (typeof jqXHR.responseJSON !== 'undefined') {
					if (jqXHR.responseJSON.hasOwnProperty('form')) {
						$('#form_body').html(jqXHR.responseJSON.form);
					}
					$('.form_error').html(jqXHR.responseJSON.message);
				} else {
					alert(errorThrown);
				}
			});
		}
	};
	//selecting a timeslot
	timeSlots = document.getElementsByClassName("asSlotBlock");
	var selectedStartTs = document.getElementsByName("selected_start_ts")[0];
	var selectedEndTs = document.getElementsByName("selected_end_ts")[0];
	var selectedEmployeeId = document.getElementsByName("selected_employee_id")[0];
	var selectedServiceId = document.getElementsByName("service_id")[0];
	
	for(var i=0;i<timeSlots.length;i++){
		timeSlots[i].onclick = function(e){
			e.preventDefault();
//alert(this.getAttribute("data-start")+" "+this.getAttribute("data-end")+this.getAttribute("data-service_id"));
			selectedStartTs.value = this.getAttribute("data-start_ts");
			selectedEndTs.value = this.getAttribute("data-end_ts");
			selectedEmployeeId.value = this.getAttribute("data-employee_id");
			selectedServiceId.value = this.getAttribute("data-service_id");
			className = this.parentNode.className;
			if(className.indexOf("pjAsTimeAvailable")>-1)
			if(!className.indexOf("pjAsTimeSelected")>-1)
				this.parentNode.className =className+ " pjAsTimeSelected";
		}
	};
			
	//schedule appointment TODO populate list also from controller
	scheduleAppointmentButton = document.getElementById("pjAsBtnAppointment");
	scheduleAppointmentButton.onclick = function(e){
		e.preventDefault();
		alert(selectedStartTs.value+" "+selectedEndTs.value+" "+selectedEmployeeId.value+" "+selectedServiceId.value);
	}
	
	//remove selected appointment
	removeSelectedAppointmentButtons = document.getElementsByClassName("pjAsBtnRemoveSelectedAppointment");
	for(var i=0;i<removeSelectedAppointmentButtons.length;i++){
		removeSelectedAppointmentButtons[i].onclick = function(e){
			e.preventDefault();
			
		}
	}
		
/*
		<dl>
			<dd>
				<p><strong>Priorität<?php echo $counter; ?></strong> <?php echo  date($tpl['option_arr']['o_date_format'], strtotime($date));?></p>
				<p><?php echo date($tpl['option_arr']['o_time_format'], $fixed_start_ts);?> - <?php echo date($tpl['option_arr']['o_time_format'], $fixed_end_ts);?></p>
			</dd>
		</dl>

<button class="pjAsBtn pjAsBtnRemove pjAsBtnRemoveFromCart" data-start_ts="<?php echo $start_ts; ?>" data-end_ts="<?php echo $end_ts; ?>" data-date="<?php echo $date; ?>" data-service_id="<?php echo $service_id; ?>" data-employee_id="<?php echo $employee_id; ?>">
<span class="glyphicon glyphicon-remove"></span>
</button>*/
	
/*
			calendar_reference = document.getElementById('calendar_time_reference');
			calendar_week_nr = document.getElementById('calendar_week_number');
			
			if(this.getAttribute("data-direction") == "next")
				calendar_reference.innerHTML = calendar_reference.innerHTML+2592000; 
			if(this.getAttribute("data-direction") == "prev") 
				calendar_reference.innerHTML = calendar_reference.innerHTML-2592000;  
			alert(calendar_reference.innerHTML);
			calendar_week_nr.innerHTML =getWeek(calendar_reference);*/
				


</script>

