{ifloop rel="carousel.front"}
<section class="carousel-container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-inner">
                {loop type="carousel" name="carousel.front" width="1200" height="300" resize_mode="borders"}
                <figure class="item {if $LOOP_COUNT == 1}active{/if}">
                    {if $URL}<a href="{$URL|default:'#'}">{/if}
                    <img src="{$IMAGE_URL}" alt="{$ALT}">
                    {if $URL}</a>{/if}
 <a href="{$URL|default:'#'}">
                    <div class="carousel-caption">
                        <div class="banner-title">{if $TITLE}{$TITLE nofilter}{/if}</div>
                        {if $DESCRIPTION!=""}
                       
                        <button class="btn btn-1 btn-1-banner btn-1-responsive">{$DESCRIPTION nofilter}</button>
                        
                        {/if}
                    </div>
</a>
                    
                </figure>
                {/loop}
            </div>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#carousel" data-slide="next"><span class="icon-next"></span></a>
    </div>
</section><!-- #carousel -->
{/ifloop}