{function name=daytype day=1}         
	{if $day == 1}pj-calendar-day-past
		{elseif $day == 2}pj-calendar-day-selected
		{elseif $day == 3}pj-calendar-day-today
		{elseif $day == 4}pj-calendar-day-inactive
		{elseif $day == 5}pjAsCalendarDate
	{/if}
{/function}
<div class="pj-calendar-body pj-calendar-7-columns">
	{foreach from=$month_days_array item=week}	
		{foreach from=$week item=day}  
			<div class="pj-calendar-day {{daytype day=$day.type}|regex_replace:'/[\r\t\n]/':''}" onclick="dayChoice()" data-start_ts="{$day.start_ts}" data-stop_ts="{$day.stop_ts}">
				<p>{$day.nr}</p>
			</div>
		{/foreach}
	{/foreach}
</div>