<div class="products-content">
	<ul class="list-unstyled">
		{loop type="product_heizung" name="product_list" category=$category_id limit="8" }
			{include file="includes/product-suggestion.html" product_id=$ID hasBtn=true hasDescription=true hasPower=true hasGrade=true hasWarmwater=true hasQuickView=true width="218" height="146"}
		{/loop}
	</ul>
</div>    

{block name="after-javascript-include"}
<script>
$('.products-content').on('click', '.thumbnail', function (event) {
	if($(this).hasClass("selected")){
    $(this).removeClass("selected");
	}
	else  {
		$(this).addClass("selected");
	}
});
</script>

{hook name="register.after-javascript-include"}
{/block}