{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-konfigurator{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="AGB" d="hookkonfigurator.fo.default"}, 'url'=>{url path="/agb"}]]}
{/block}

{block name="main-content"}


  <style>
   .agb ol { counter-reset: item; padding-left: 10px;line-height: 2em; }
   .agb li { display: block }
      .agb li span.title{
          font-weight: bold;
          font-size: 1.2em;
          padding:14px;
      }
   .agb li:before { content: counters(item, ".") " "; counter-increment: item }
  </style>
    <div class="main">
            <!--h1 id="main-label" class="page-header">{intl l="Dein Angebot" d="hookkonfigurator.fo.default"}</h1-->

<div class="container1">

			


<h2 class="title">Allgemeine Geschäftsbedingungen</h2>

 <div class="agb">

Die Hausfabrik, Breitenfurter Straße 360-368/3/R06, 1230 Wien, Österreich, bietet ihren Kunden einen Komplettservice für die Installation von Heizungsanlagen an. Durch das Angebot und die nachfolgenden Allgemeinen Geschäftsbedingungen werden die Leistungsinhalte und die Voraussetzungen für das Anbieten der Leistungen definiert.
<ol>
<li> <span class="title">Geltung</span>
<ol><li>
 Diese Geschäftsbedingungen gelten zwischen uns (Hausfabrik) und natürlichen und juristischen Personen (kurz Kunde) für das gegenständliche Rechtsgeschäft sowie gegenüber unternehmerischen Kunden auch für alle hinkünftigen Geschäfte, selbst wenn im Einzelfall, insbesondere bei <strong>künftigen Ergänzungs- oder Folgeaufträgen</strong> darauf nicht ausdrücklich Bezug genommen wurde.</li>
<li> Es gilt gegenüber unternehmerischen Kunden jeweils die bei Vertragsabschluss aktuelle Fassung unserer AGB, abrufbar auf unserer Homepage (http://hausfabrik.at ).</li>
<li> Wir kontrahieren <strong>ausschließlich</strong> unter Zugrundelegung unserer AGB.</li>
<li><strong> Geschäftsbedingungen des Kunden</strong> oder Änderungen bzw. Ergänzungen unserer AGB bedürfen zu ihrer Geltung unserer ausdrücklichen – gegenüber unternehmerischen Kunden schriftlichen – Zustimmung.</li>
<li> Geschäftsbedingungen des Kunden werden auch dann nicht anerkannt, wenn wir ihnen nach Eingang bei uns nicht ausdrücklich <strong>widersprechen.</strong></li>
    </ol>
</li>
    
<li> <span class="title">Angebot/Vertragsabschluss</span>
<ol>
    <li>     
    Auf Basis der Angaben des Kunden in unserem online Kalkulator (http://hausfabrik.at) wird ein Angebotsvorschlag erstellt und zugeschickt. Unsere Angebote sind unverbindlich.</li>
    <li> <strong>Zusagen</strong>, Zusicherungen und Garantien unsererseits oder von diesen AGB abweichende Vereinbarungen im Zusammenhang mit dem Vertragsabschluss werden gegenüber unternehmerischen Kunden erst durch unsere schriftliche Bestätigung verbindlich.</li>
    <li> In Katalogen, Preislisten, Prospekten, Anzeigen auf Messeständen, Rundschreiben, Werbeaussendungen oder anderen Medien <strong>(Informationsmaterial)</strong> angeführte Informationen über unsere Produkte und Leistungen, die nicht uns zuzurechnen sind, hat der Kunde – sofern der Kunde diese seiner Entscheidung zur Beauftragung zugrunde legt – uns darzulegen. Diesfalls können wir zu deren Richtigkeit Stellung nehmen. Verletzt der Kunde diese Obliegenheit, sind derartige Angaben unverbindlich, soweit diese nicht ausdrücklich – unternehmerischen Kunden gegenüber schriftlich – zum Vertragsinhalt erklärt wurden.</li>
    <li> <strong>Kostenvoranschläge</strong> sind unverbindlich.</li>
    <li>Ein Vertragsabschluss erfolgt erst, wenn der Kunde das ihm zugeschickte Angebot unterschrieben (Post, Fax, E-mail, online Auftragsbestätigung) an uns retourniert und wir dieses Angebot innerhalb von zwei Wochen nach dem Erhalt ausdrücklich angenommen haben (Post, E-mail, Fax). Die Auftragserteilung durch den Kunden gilt als verbindliches Vertragsangebot. Der Vertrag kommt erst mit einer Auftragsbestätigung durch uns zustande.</li>
</ol>
</li>
    
    
    
    
<li> <span class="title">Preise</span>
<ol>
    <li>     
    Unsere Preise gelten für die in der Auftragsbestätigung angeführten Leistungen und verstehen sich inkl. der gesetzlichen Mehrwertsteuer.</li>
    <li> Für vom Kunden angeordnete Leistungen, die im <strong>ursprünglichen Auftrag keine Deckung finden</strong>, besteht Anspruch auf angemessenes Entgelt.</li>
    <li> Die fach- und umweltgerechte Entsorgung von <strong>Altmaterial</strong> hat der Kunde zu veranlassen. Werden wir gesondert hiermit beauftragt, ist dies vom Kunden zusätzlich im hierfür vereinbarten Ausmaß, mangels Entgeltsvereinbarung angemessen zu vergüten.</li>
    <li> Wir sind aus eigenem berechtigt, wie auch auf Antrag des Kunden verpflichtet, die vertraglich vereinbarten Entgelte <strong>anzupassen</strong>, wenn Änderungen hinsichtlich a) der Lohnkosten durch Gesetz, Verordnung, Kollektivvertrag, Betriebsvereinbarungen oder b) anderer zur Leistungserbringung notwendiger Kostenfaktoren wie Materialkosten aufgrund von Empfehlungen der Paritätischen Kommissionen oder von Änderungen der nationalen bzw. Weltmarktpreise für Rohstoffe, Änderungen relevanter Wechselkurse etc. seit Vertragsabschluss eingetreten sind. Die Anpassung erfolgt in dem Ausmaß, in dem sich die tatsächlichen Herstellungskosten im Zeitpunkt des Vertragsabschlusses ändern gegenüber jenen im Zeitpunkt der tatsächlichen Leistungserbringung, sofern wir uns nicht in Verzug befinden.</li>
    <li>Das Entgelt bei Dauerschuldverhältnissen wird als <strong>wertgesichert</strong> nach dem VPI 2005 vereinbart und erfolgt dadurch eine Anpassung der Entgelte. Als Ausgangsbasis wird der Monat zugrunde gelegt, in dem der Vertrag abgeschlossen wurde. </li>
    <li>Konsumenten als Kunden gegenüber erfolgt bei Änderung der Kosten eine Anpassung des Entgelts gemäß Punkt 3.3 sowie bei Dauerschuldverhältnisses gemäß Punkt 3.4 nur bei einzelvertraglicher Aushandlung, wenn die Leistung <strong>innerhalb von zwei Monaten</strong> nach Vertragsabschluss zu erbringen ist.</li>
    <li>Bogenförmig verlegte Leitungen werden im Außenbogen <strong>gemessen</strong>. Formstücke und Armaturen werden im Rohrausmaß mitgemessen, jedoch separat verrechnet. Das Ausmaß des Korrosionsschutzes und des Anstrichs wird gleich dem Ausmaß der darunter befindlichen Rohre angenommen. Das Ausmaß der Wärmedämmung wird an den Außenflächen gemessen. Unterbrechungen bis maximal 1 Meter bleiben unberücksichtigt.</li>
</ol>
</li>
    
<li> <span class="title">Beigestellte Ware</span>
<ol>
    <li>     
    Werden Geräte oder sonstige Materialien vom Kunden bereitgestellt, sind wir berechtigt, dem Kunden einen Zuschlag von 5% des Werts der beigestellten Geräte bzw. des Materials zu berechnen.</li>
    <li> Solche vom Kunden beigestellte Geräte und sonstige Materialien sind nicht Gegenstand von <strong>Gewährleistung</strong>.</li>
   
</ol>
</li>    
    
<li> <span class="title">Zahlung</span>
<ol>
    <li>     
    Ein Drittel des Entgeltes wird bei Vertragsabschluss, ein Drittel bei Leistungsbeginn und der Rest nach Leistungsfertigstellung fällig.</li>
    <li> Die Berechtigung zu einem <strong>Skontoabzug</strong> bedarf einer ausdrücklichen, gegenüber unternehmerischen Kunden schriftlichen – Vereinbarung.</li>
    <li>     
    Gegenüber Verbrauchern als Kunden sind wir bei verschuldetem <strong>Zahlungsverzug</strong> berechtigt, Zinsen in Höhe von 8 Prozentpunkten über dem Basiszinssatz zu berechnen.</li>
    <li> Die Geltendmachung eines <strong>weiteren Verzugsschadens</strong> bleibt vorbehalten, gegenüber Verbrauchern als Kunden jedoch nur, wenn dies im Einzelnen ausgehandelt wird.</li>
    <li>     
   Kommt der unternehmerische Kunde im Rahmen anderer mit uns bestehender Vertragsverhältnisse in Zahlungsverzug, so sind wir berechtigt, die <strong>Erfüllung</strong> unserer Verpflichtungen aus diesem Vertrag bis zur Erfüllung durch den Kunden <strong>einzustellen</strong>.</li>
    <li>Wir sind dann auch berechtigt, alle Forderungen für bereits erbrachte Leistungen aus der laufenden Geschäftsbeziehung mit dem Kunden <strong>fällig zu stellen</strong>. Dies gegenüber Verbrauchern als Kunden nur für den Fall, dass eine rückständige Leistung zumindest seit sechs Wochen fällig ist und wir unter Androhung dieser Folge den Kunden unter Setzung einer Nachfrist von mindestens zwei Wochen erfolglos gemahnt haben.</li>
    <li>     
    Eine <strong>Aufrechnungsbefugnis</strong> steht dem Kunden nur insoweit zu, als Gegenansprüche gerichtlich festgestellt oder von uns anerkannt worden sind. Verbrauchern als Kunden steht eine Aufrechnungsbefugnis auch zu, soweit Gegenansprüche im rechtlichen Zusammenhang mit der Zahlungsverbindlichkeit des Kunden stehen, sowie bei Zahlungsunfähigkeit unseres Unternehmens.</li>
    <li> Bei Überschreitung der Zahlungsfrist verfallen gewährte <strong>Vergünstigungen</strong> (Rabatte, Abschläge u.a.) und werden der Rechnung zugerechnet.</li>
     <li> Für zur Einbringlichmachung notwendige und zweckentsprechenden <strong>Mahnungen</strong> verpflichtet sich der Kunde bei verschuldetem Zahlungsverzug zur Bezahlung von Mahnspesen pro Mahnung in Höhe von 15€ soweit dies im angemessenen Verhältnis zur betriebenen Forderung steht.</li>
   
</ol>
</li>  
    
<li> <span class="title">Bonitätsprüfung</span>
<ol>
    <li>
  Der Kunde erklärt sein ausdrückliches Einverständnis, dass seine Daten ausschließlich zum Zwecke des Gläubigerschutzes an die staatlich bevorrechteten <strong>Gläubigerschutzverbände</strong> AKV EUROPA Alpenländischer Kreditorenverband für Kreditschutz und Betriebswirtschaft, Creditreform Wirtschaftsauskunftei Kubicki KG und Kreditschutzverband von 1870 KSV übermittelt werden dürfen.</li>

    </ol>
</li>
<li> <span class="title">Mitwirkungspflichten des Kunden</span>
<ol>
    <li>Unsere Pflicht zur <strong>Leistungsausführung beginnt</strong> frühestens, sobald der Kunde alle baulichen, technischen sowie rechtlichen <strong>Voraussetzungen </strong>zur Ausführung geschaffen hat, die im Vertrag oder in vor Vertragsabschluss dem Kunden erteilten Informationen umschrieben wurden oder der Kunde aufgrund einschlägiger Fachkenntnis oder Erfahrung kennen musste.</li>
    <li>Insbesondere hat der Kunde vor Beginn der Leistungsausführung die nötigen Angaben über die Lage <strong>verdeckt geführter</strong> Strom-, Gas- und Wasserleitungen oder ähnlicher Vorrichtungen, Fluchtwege, sonstige Hindernisse baulicher Art, sonstige mögliche Störungsquellen, Gefahrenquellen sowie die erforderlichen statischen Angaben und allfällige diesbezügliche projektierte Änderungen unaufgefordert zur Verfügung zu stellen. Auftragsbezogener Details zu den notwendigen Angaben können bei uns angefragt werden.</li>
    <li>Kommt der Kunde dieser <strong>Mitwirkungspflicht</strong> nicht nach, ist – ausschließlich im Hinblick auf die infolge falscher Kundenangaben nicht voll gegebene Leistungsfähigkeit – unsere Leistung nicht mangelhaft.</li>
    <li>Der Kunde hat die erforderlichen Bewilligungen Dritter sowie <strong>Meldungen und Bewilligungen</strong> durch Behörden auf seine Kosten zu veranlassen. Auf diese weisen wir im Rahmen des Vertragsabschlusses hin, sofern nicht der Kunde darauf verzichtet hat oder der unternehmerische Kunden aufgrund Ausbildung oder Erfahrung über solches Wissen verfügen musste.</li>
    <li>Die für die Leistungsausführung einschließlich des Probebetriebes erforderliche <strong>Energie</strong> und Wassermengen sind vom Kunden auf dessen Kosten beizustellen.</li>
    <li>Der Kunde hat uns für die Zeit der Leistungsausführung kostenlos <strong>versperrbare Räume</strong> für den Aufenthalt der Arbeiter sowie für die Lagerung von Werkzeugen und Materialien zur Verfügung zu stellen.</li>


</ol>
</li>
<li> <span class="title">Leistungsausführung</span>
<ol>
    <li>Dem Kunden zumutbare sachlich gerechtfertigte geringfügige <strong>Änderungen unserer Leistungsausführung</strong> gelten als vorweg genehmigt. Gegenüber Verbrauchern besteht dieses Recht nur, wenn es im Einzelfall ausgehandelt wird.</li>
    <li>Sachlich (zB Anlagengröße, Baufortschritt, u.a.) gerechtfertigte <strong>Teillieferungen</strong> und -leistungen sind zulässig und können gesondert in Rechnung gestellt werden.</li>

</ol>
</li>
<li> <span class="title">Leistungsfristen und Termine</span>
<ol>
    <li>Fristen und Termine verschieben sich bei <strong>höherer Gewalt</strong>, Streik, nicht vorhersehbare und von uns nicht verschuldete Verzögerung unserer Zulieferer oder sonstigen vergleichbaren Ereignissen, die nicht in unserem Einflussbereich liegen, in jenem Zeitraum, währenddessen das entsprechende Ereignis andauert. Davon unberührt bleibt das Recht des Kunden auf Rücktritt vom Vertrag bei Verzögerungen die eine Bindung an den Vertrag unzumutbar machen.</li>
    <li>Werden der Beginn der Leistungsausführung oder die Ausführung durch dem <strong>Kunden zuzurechnende Umstände verzögert</strong> oder unterbrochen, insbesondere aufgrund der Verletzung der <strong>Mitwirkungspflichten</strong> gemäß Punkt 7. dieser AGB, so werden Leistungsfristen entsprechend verlängert und vereinbarte Fertigstellungstermine entsprechend hinausgeschoben.</li>
    <li>Bei <strong>Verzug</strong> mit der Vertragserfüllung durch uns steht dem Kunden ein Recht auf Rücktritt vom Vertrag nach Setzung einer angemessenen Nachfrist zu. Die Setzung der Nachfrist hat schriftlich (von unternehmerischen Kunden mittels eingeschriebenen Briefs) unter gleichzeitiger Androhung des Rücktritts zu erfolgen.</li>


</ol>
    
</li>
    
<li> <span class="title">Hinweis auf Beschränkung des Leistungsumfanges</span>
<ol>
    <li>Im Rahmen von Montage- und Instandsetzungsarbeiten können Schäden a) an bereits vorhandenen Leitungen, Rohrleitungen, Armaturen, sanitären Einrichtungsgegenständen und Geräten als Folge nicht erkennbarer Gegebenheiten oder Materialfehler b) bei Stemmarbeiten in bindungslosem Mauerwerk entstehen. Solche Schäden sind von uns nur zu verantworten, wenn wir diese schuldhaft verursacht haben.</li>
</ol>
    
</li>
<li> <span class="title">Behelfsmäßige Instandsetzung</span>
<ol>
    <li>Bei behelfsmäßigen Instandsetzungen besteht lediglich eine sehr beschränkte und den Umständen entsprechende Haltbarkeit.</li>
</ol>
    
</li>
<li> <span class="title">Gefahrtragung</span>
<ol>
    <li>Die Gefahr für von uns <strong>angelieferte</strong> und <strong>am Leistungsort gelagerte</strong> oder montierte <strong>Materialien</strong> und Geräte, an welchen vereinbarungsgemäß Eigentum übertragen werden soll, trägt der Kunde. Vom Kunden verschuldete Verluste und <strong>Beschädigungen</strong> an unseren Geräten und sonstigen Gegenständen (zB unser Montagewerkzeug), an welchen vereinbarungsgemäß kein Eigentum übergehen soll, gehen zu seinen Lasten.</li>
</ol>
    
</li>
    
<li> <span class="title">Annahmeverzug</span>
<ol>
    <li>Gerät der Kunde länger als 2 Wochen in Annahmeverzug (Verweigerung der Annahme, Verzug mit Vorleistungen oder anders), und hat der Kunde trotz angemessener Nachfristsetzung nicht für die Beseitigung der ihm zuzurechnenden Umstände gesorgt, welche die Leistungsausführung verzögern oder verhindern, dürfen wir bei aufrechtem Vertrag über die für die Leistungsausführung spezifizierten <strong>Geräte und Materialien anderweitig verfügen</strong>, sofern wir im Fall der Fortsetzung der Leistungsausführung diese innerhalb einer den jeweiligen Gegebenheiten angemessenen Frist nachbeschaffen.</li>
    <li>Bei Annahmeverzug des Kunden sind wir ebenso berechtigt, bei Bestehen auf Vertragserfüllung die Ware bei uns <strong>einzulagern</strong>, wofür uns eine Lagergebühr in Höhe von 30€ zusteht.</li>
    <li>Davon unberührt bleibt unser Recht, das Entgelt für erbrachte Leistungen fällig zu stellen und nach angemessener Nachfrist vom Vertrag <strong>zurückzutreten</strong>.</li>
    <li>Im Falle eines berechtigten Rücktritts vom Vertrag dürfen wir einen pauschalierten Schadenersatz in Höhe von 20% des Auftragswertes zuzüglich USt ohne Nachweis des tatsächlichen Schadens vom Kunden verlangen. Die Verpflichtung zur Zahlung eines Schadenersatzes durch einen unternehmerischen Kunden ist vom Verschulden unabhängig.</li>
    <li>Die Geltendmachung eines <strong>höheren Schadens</strong> ist zulässig. Gegenüber Verbrauchern besteht dieses Recht nur, wenn es im Einzelfall ausgehandelt wird.</li>
</ol>
    
</li>
<li> <span class="title">Eigentumsvorbehalt</span>
<ol>
    <li>Die von uns gelieferte, montierte oder sonst übergebene Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.</li>
    <li>Eine <strong>Weiterveräußerung</strong> ist nur zulässig, wenn uns diese rechtzeitig vorher unter Angabe des Namens und der Anschrift des Käufers bekannt gegeben wurde und wir der Veräußerung zustimmen.</li>
    <li>Davon unberührt bleibt unser Recht, das Entgelt für erbrachte Leistungen fällig zu stellen und nach angemessener Nachfrist vom Vertrag zurückzutreten.</li>
    <li>Im Fall unserer Zustimmung gilt die Kaufpreisforderung bereits jetzt als an uns <strong>abgetreten</strong>.</li>
    <li>Gerät der Kunde in Zahlungsverzug, sind wir bei angemessener Nachfristsetzung berechtigt, die Vorbehaltsware herauszuverlangen. Gegenüber Verbrauchern als Kunden dürfen wir dieses Recht nur ausüben, wenn zumindest eine rückständige Leistung des Verbrauchers seit mindestens sechs Wochen fällig ist und wir ihn unter Androhung dieser Rechtsfolge und unter Setzung einer Nachfrist von mindestens zwei Wochen erfolglos gemahnt haben.</li>
    <li>Der Kunde hat uns von der Eröffnung des <strong>Konkurses</strong> über sein Vermögen oder der <strong>Pfändung</strong> unserer Vorbehaltsware unverzüglich zu verständigen.</li>
    <li>Wir sind berechtigt, zur Geltendmachung unseres Eigentumsvorbehaltes den Standort der Vorbehaltsware soweit für den Kunden zumutbar zu betreten, dies nach angemessener Vorankündigung.</li>
    <li>Notwendige und zur zweckentsprechenden Rechtsverfolgung angemessene <strong>Kosten</strong> trägt der Kunde.</li>
    <li>In der Geltendmachung des Eigentumsvorbehaltes liegt nur dann ein <strong>Rücktritt vom Vertrag</strong>, wenn dieser ausdrücklich erklärt wird.</li>
    <li>Die zurückgenommene Vorbehaltsware dürfen wir gegenüber unternehmerischen Kunden freihändig und bestmöglich <strong>verwerten</strong>.</li>
    
    
</ol>
    
</li>
    
<li> <span class="title">Schutzrechte Dritter</span>
<ol>
    <li>Bringt der Kunde <strong>geistige Schöpfungen</strong> oder Unterlagen bei und werden hinsichtlich solcher Schöpfungen, Schutzrechte Dritter geltend gemacht, so sind wir berechtigt, die Herstellung des Liefergegenstandes auf Risiko des Auftraggebers bis zur Klärung der Rechte Dritter einzustellen, und den Ersatz der von uns aufgewendeten notwendigen und zweckentsprechenden Kosten zu beanspruchen, außer die Unberechtigtheit der Ansprüche ist offenkundig.</li>
    <li>Der Kunde hält uns diesbezüglich <strong>schad- und klaglos</strong>.</li>
    <li>Wir sind berechtigt, von unternehmerischen Kunden für allfällige Prozesskosten angemessene <strong>Kostenvorschüsse</strong> zu verlangen.</li>
</ol>
    
</li>
    
    
        
<li> <span class="title">Unser geistiges Eigentum</span>
<ol>
    <li><strong>Pläne</strong>, Skizzen, Kostenvoranschläge und sonstige Unterlagen, die von uns beigestellt oder durch unseren Beitrag entstanden sind, bleiben unser geistiges Eigentum.</li>
    <li>Die Verwendung solcher Unterlagen außerhalb der bestimmungsgemäßen Nutzung, insbesondere die <strong>Weitergabe</strong>, Vervielfältigung, Veröffentlichung und Zur-Verfügung-Stellung einschließlich auch nur auszugsweisen Kopierens bedarf unserer ausdrücklichen Zustimmung.</li>
    <li>Der Kunde verpflichtet sich weiters zur <strong>Geheimhaltung</strong> des ihm aus der Geschäftsbeziehung zugegangenen Wissens Dritten gegenüber.</li>
    
</ol>
    
</li>
    
<li> <span class="title">Gewährleistung</span>
<ol>
    <li> Die Gewährleistungsfrist für unsere Leistungen beträgt gegenüber unternehmerischen Kunden ein Jahr ab Übergabe.</li>
    <li>Der Zeitpunkt der <strong>Übergabe </strong>ist mangels abweichender Vereinbarung (z.B. förmliche Abnahme) der Fertigstellungszeitpunkt, spätestens wenn der Kunde die Leistung in seine Verfügungsmacht übernommen hat oder die Übernahme ohne Angabe von Gründen verweigert hat.</li>
    <li><strong>Behebungen </strong>eines vom Kunden behaupteten Mangels stellen kein Anerkenntnis dieses vom Kunden behauptenden Mangels dar.</li>
    <li>Zur Mängelbehebung sind uns seitens des unternehmerischen Kunden zumindest <strong>zwei Versuche </strong>einzuräumen.</li>
    <li>Sind die Mängelbehauptungen des Kunden unberechtigt, ist der Kunde verpflichtet, uns entstandene <strong>Aufwendungen</strong> für die Feststellung der Mängelfreiheit oder Fehlerbehebung zu ersetzen.</li>
    <li>Der unternehmerische Kunde hat stets zu <strong>beweisen</strong>, dass der Mangel zum Übergabezeitpunkt bereits vorhanden war.</li>
    <li><strong>Mängel </strong>am Liefergegenstand, die der unternehmerische Kunde bei ordnungsgemäßem Geschäftsgang nach Ablieferung durch Untersuchung festgestellt hat oder feststellen hätte müssen sind unverzüglich, spätestens Tage nach Übergabe an uns schriftlich <strong>anzuzeigen</strong>. Versteckte Mängel müssen ebenfalls in dieser angemessenen Frist ab Entdecken angezeigt werden.</li>
    <li>Eine etwaige <strong>Nutzung oder Verarbeitung</strong> des mangelhaften Leistungsgegenstandes, durch welche ein weitergehender Schaden droht oder eine Ursachenerhebung erschwert oder verhindert wird, ist vom Kunden unverzüglich einzustellen, soweit dies nicht unzumutbar ist.</li>
    <li>Wird eine <strong>Mängelrüge</strong> nicht rechtzeitig erhoben, gilt die Ware als genehmigt.</li>
    <li>Die mangelhafte Lieferung oder Proben davon sind – sofern wirtschaftlich vertretbar – vom unternehmerischen Kunden an uns zu <strong>retournieren</strong>.</li>
    <li>Die Kosten für den <strong>Rücktransport</strong> der mangelhaften Sache an uns trägt zur Gänze der unternehmerische Kunde.</li>
    <li>Den Kunden trifft die Obliegenheit, eine <strong>unverzügliche Mangelfeststellung </strong>durch uns zu ermöglichen.</li>
    <li>Die Gewährleistung ist ausgeschlossen, wenn die technischen Anlagen des Kunden wie etwa Zuleitungen, Verkabelungen u.ä. nicht in technisch einwandfreiem und betriebsbereitem Zustand oder mit den gelieferten Gegenständen nicht <strong>kompatibel</strong> sind, soweit dieser Umstand kausal für den Mangel ist.</li>
    
</ol>
    
</li>
    
<li> <span class="title">Haftung</span>
<ol>
    <li>Wegen Verletzung vertraglicher oder vorvertraglicher Pflichten, insbesondere wegen Unmöglichkeit, Verzug etc. haften wir bei <strong>Vermögensschäden</strong> nur in Fällen von Vorsatz oder grober Fahrlässigkeit.</li>
    <li>Gegenüber unternehmerischen Kunden haften wir abgesehen von Personenschäden nur, wenn uns grobe Fahrlässigkeit nachgewiesen wird. Unternehmerischen Kunden gegenüber ist die Haftung auch <strong>beschränkt</strong> mit dem Haftungshöchstbetrag einer allenfalls durch uns abgeschlossenen Haftpflichtversicherung.</li>
    <li>Diese Beschränkung gilt auch hinsichtlich des Schadens an einer Sache, die wir <strong>zur Bearbeitung übernommen</strong> haben. Gegenüber Verbrauchern gilt dies jedoch nur dann, wenn dies einzelvertraglich ausgehandelt wurde.</li>
    <li>Schadenersatzansprüche unternehmerischer Kunden sind bei sonstigem Verfall binnen sechs Monaten ab Kenntnis vom Schaden gerichtlich geltend zu machen.</li>
    <li>Der Haftungsausschluss umfasst auch Ansprüche gegen unsere <strong>Mitarbeiter</strong>, Vertreter und Erfüllungsgehilfe aufgrund Schädigungen, die diese dem Kunden – ohne Bezug auf einen Vertrag ihrerseits mit dem Kunden – zufügen.</li>
    <li>Unsere Haftung ist ausgeschlossen für Schäden durch <strong>unsachgemäße Behandlung</strong> oder Lagerung, Überbeanspruchung, Nichtbefolgen von Bedienungs- und Installationsvorschriften, fehlerhafter Montage, Inbetriebnahme, Wartung, Instandhaltung durch den Kunden oder nicht von uns autorisierte Dritte, oder natürliche Abnutzung, sofern dieses Ereignis kausal für den Schaden war. Ebenso besteht der Haftungsausschluss für Unterlassung notwendiger Wartungen, sofern wir nicht vertraglich die Pflicht zur Wartung übernommen haben.</li>
    <li>Wenn und soweit der Kunde für Schäden, für die wir haften, <strong>Versicherungsleistungen</strong> durch eine eigene oder zu seinen Gunsten abgeschlossen Schadenversicherung (z.B. Haftpflichtversicherung, Kasko, Transport, Feuer, Betriebsunterbrechung und andere) in Anspruch nehmen kann, verpflichtet sich der Kunde zur Inanspruchnahme der Versicherungsleistung und beschränkt sich unsere Haftung insoweit auf die Nachteile, die dem Kunden durch die Inanspruchnahme dieser Versicherung entstehen (z.B. höhere Versicherungsprämie).</li>
    
</ol>    
</li>
    
<li> <span class="title">Salvatorische Klausel</span>
<ol>
    <li>Sollten einzelne Teile dieser AGB unwirksam sein, so wird dadurch die <strong>Gültigkeit</strong> der übrigen Teile nicht berührt.</li>
    <li>Wir wie ebenso wie der unternehmerische Kunde verpflichten uns jetzt schon, gemeinsam – ausgehend vom Horizont redlicher Vertragsparteien – eine <strong>Ersatzregelung</strong> zu treffen, die dem wirtschaftlichen Ergebnis der unwirksamen Bedingung am nächsten kommt.</li>

</ol>    
</li>
    
<li> <span class="title">Allgemeines</span>
<ol>
    <li>Es gilt <strong>österreichisches Recht</strong>.</li>
    <li>Das UN-Kaufrecht ist ausgeschlossen.</li>
    <li><strong>Erfüllungsort</strong> ist der Sitz des Unternehmens (Breitenfurterstr. 360-368/3/R06, 1210 Wien, Österreich).</li>
    <li>Gerichtsstand für alle sich aus dem Vertragsverhältnis oder künftigen Verträgen zwischen uns und dem unternehmerischen Kunden ergebenden Streitigkeiten ist das für unseren Sitz örtlich zuständige Gericht. </li>

</ol>    
</li>
    
    
</ol>

              
</div>
  
           
</div><!-- /.layout -->
{/block}

{block name="stylesheet"}

{hook name="register.stylesheet"}

{/block}


{block name="after-javascript-include"}








{hook name="register.after-javascript-include"}

{/block}

{block name="javascript-initialization"}
{hook name="register.javascript-initialization"}
{/block}