{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-konfigurator{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="FAQ" d="hookkonfigurator.fo.default"}, 'url'=>{url path="/faq"}]]}
{/block}

{block name="main-content"}
    <div class="main">
            <!--h1 id="main-label" class="page-header">{intl l="Dein Angebot" d="hookkonfigurator.fo.default"}</h1-->

<div class="container1">		
    <div class="row">
    <h2 class="title">Häufig gestellte Fragen (FAQ)</h2>
        <div class="col-sm-12">
<ul>
   <li><a href="#a">Wie funktioniert der Bestellvorgang im Hausfabrik Online Shop?</a></li>
   <li><a href="#b">Wie lange kann ich meine bestellten Artikel zurücksenden?</a></li>
    <li><a href="#c">Wie kann ich meine Bestellung bezahlen?</a></li>
    <li><a href="#d">Wie hoch ist der Mindestbestellwert?</a></li>
    <li><a href="#e">Wie hoch sind die Versandkosten bei der Hausfabrik?</a></li>
    <li><a href="#f">Wie kann ich die Hausfabrik kontaktieren?</a></li>
    <li><a href="#g">Kann ich den Termin für das Service online auswählen?</a></li>
    <li><a href="#h">Erstellt die Hausfabrik auch individuelle Angebote?</a></li>
    <li><a href="#i">Wieso sollte ich einen Installateur im Internet buchen?</a></li>
</ul>
<div class="distance50"></div>
<div id="a">
  <h4>Wie funktioniert der Bestellvorgang im Hausfabrik Online Shop?</h4>        
    <ol>
    	<li>Legen Sie Ihre gewünschten Produkte in den Warenkorb.</li>
        <li>Öffnen Sie den Warenkorb. Hier sehen Sie nochmals welche Produkte Sie ausgewählt haben.</li>
        <li>Klicken Sie auf „Zur Kassa“ und loggen Sie sich ein oder registrieren Sie sich um den Bestellvorgang zu beginnen.</li>
        <li>Wählen Sie Ihre bevorzugte Zahlungsart und führen Sie die dort angegebenen Anweisungen durch.</li>
        <li>Wenn Sie Ihre Zahlung erfolgreich abgeschlossen haben und wir Ihre Bestellung erhalten haben, bekommen Sie eine Bestellbestätigung per E-Mail.</li>
    </ol>  
</div>
<div class="distance50"></div>
<div id="b">
  <h4>Wie lange kann ich meine bestellten Artikel zurücksenden?</h4>        
<p>
Das Rückgaberecht bei der Heizfabrik können Sie 14 Tage ab Erhalt der Ware in Anspruch nehmen. Einzelheiten zum Widerrufsrecht erhalten sie hier.  
</p>
</div>
<div class="distance50"></div>
<div id="c">
    <h4>Wie kann ich meine Bestellung bezahlen?</h4>
    <p>
Bei der Hausfabrik stehen Ihnen folgende Zahlungsmethoden zur Verfügung:
PayPal, Kreditkarte
    </p>  
</div>
 <div class="distance50"></div>
<div id="d">
    <h4>Wie hoch ist der Mindestbestellwert?</h4>
    <p>
Bei der Heizfabrik gibt es keinen Mindestbestellwert.
    </p>  
</div>
 <div class="distance50"></div>
<div id="e">
    <h4>Wie hoch sind die Versandkosten bei der Hausfabrik?</h4>
    <p>
Die Versandkosten richten sich nach einem Fixpreis, abhängig von Ihrer Adresse. Im Warenkorb werden Ihnen die Versandkosten nach Eingabe der Adresse automatisch angezeigt.
    </p>  
</div>
<div class="distance50"></div>
<div id="f">
    <h4>Wie kann ich die Hausfabrik kontaktieren?</h4>
    <p>
Sie erreichen uns telefonisch unter <strong><span style="color:#74A027;">0800/022573</span></strong> oder per Live-Chat. Weiters können Sie unser Kontaktformular ausfüllen und wir kümmern uns umgehend um Ihr Anliegen.     </p>  
</div>
<div class="distance50"></div>
<div id="g">
    <h4>Kann ich den Termin für das Service online auswählen?</h4>
    <p>
Ja, Sie können Ihren Wunschtermin im Kalender auswählen. 
    </p>  
</div>
<div class="distance50"></div>
<div id="h">
    <h4>Erstellt die Hausfabrik auch individuelle Angebote?</h4>
    <p>
Ja, wir erstellen gerne für Sie individuelle Angebote für <strong><span style="color:#74A027;">Ihre neue Heizung</span></strong> oder den bevorstehenden <strong><span style="color:#74A027;">Heizungstausch</span></strong> oder Mieten Sie sich Ihren <strong><span style="color:#74A027;">Installateur</span></strong>. Dafür füllen Sie bitte die Formulare für <a href="heizungskonfigurator-angebot"><strong> <span style="color:#74A027;"> Ihre neue Heizung </span></strong></a> / <a href="konfigurator"><strong> <span style="color:#74A027;">Ihren Heizungstausch </span></strong></a> / <a href="services"><strong><span style="color:#74A027;">Mieten Sie sich Ihren Installateur</span></strong></a></p>  <!--a href="heizungskonfigurator-angebot"><strong>Heizung</strong></a-->
</div>
<div class="distance50"></div>
<div id="i">
    <h4>Wieso sollte ich einen Installateur im Internet buchen? </h4>
    <p>
Unsere Installateure kümmern sich gerne um Ihr anliegen. Sie können bei uns einen Installateur für spezielle Tätigkeiten mieten, oder gleich das passende Service auswählen. Durch unsere Abfragen und Ihre Angaben, können wir Ihnen das passende Service zum Bestpreis garantieren. Weiters können Sie Ersatzteile und neue Produkte in unserem Shop kaufen und unsere Installateure bringen diese zum Termin mit und sorgen für den sorgfältigen Einbau bzw. Montage.</p>  
</div>
</div>

            
            
        

        </div>
    </div>
          
</div><!-- /.layout -->
{/block}

{block name="stylesheet"}

{hook name="register.stylesheet"}

{/block}


{block name="after-javascript-include"}








{hook name="register.after-javascript-include"}

{/block}

{block name="javascript-initialization"}
{hook name="register.javascript-initialization"}
{/block}