{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-konfigurator{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Ihr persönliches Angebot für die Heizung" d="hookkonfigurator.fo.default"}, 'url'=>{url path="/heizungskonfigurator-angebot"}]]}
{/block}

{block name="main-content"}
    <div class="main">
            <!--h1 id="main-label" class="page-header">{intl l="Dein Angebot" d="hookkonfigurator.fo.default"}</h1-->

	<div class="container1">
	 {block name="heizung-angebot-form"}    
		<div>
			
               
            {form name="heizung.angebot"}
				<form id="form-heizungangebot"   
     class="form-horizontal fs-form fs-form-full dropzone" action="{url path="/heizungskonfigurator-angebot/sendmail"}" method="post" autocomplete="off" enctype="multipart/form-data">

                {form_field field='error_message'}
                	<input type="hidden" name="{$name}" value="{intl l="missing or invalid data"}" />
                {/form_field} 
                {form_hidden_fields}
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
                {loop type="customer" name="customer.info"}  
					
                {/loop}
                {elseloop rel="customer_info_block"}
                    
                <fieldset id="register-info" class="panel panel-default">
                    <div class="panel-heading">
                        1. {intl l="Persönliche Informationen"}
                    </div>
                    {include file="includes/personal-data.html"}
                    
                </fieldset>
                {/elseloop}
                    
                    
                <fieldset  class="panel panel-default">
                     <div class="panel-heading">
                        2. {intl l="Fotobegehung"}
                    </div>
                    <div class="panel-body" id="imsirun">
                       
                    {form_field field="image_upload"}
                        <div id="dragdrop" class="fs-anim-upper">                     
                          <div class="fallback">
                              <input name="file" type="file" id="{$label_attr.for}" multiple />
                          </div>
                          <div class="dz-default dz-message dz-clickable" id="dropzonePreview" >
                             <span>Bitte hier Fotos von Ihrem alten Gerät ablegen (optional)</span>
                          </div>
                          <div id="previews" class="dropzone"></div>
                       </div>
                    {/form_field}
                    </div>  
                </fieldset>
                <fieldset  class="panel panel-default">
                     <div class="panel-heading">
                        3. {intl l="Zusätzliche Daten"}
                    </div>
                    <div class="panel-body">
                     {form_field field="plan_heizung"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                    <select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                              					{foreach $choices as $choice}
                            						<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
							 					{/foreach}
                                        </select>
                            </div><!--/.form-group-->
                    {/form_field}
              
                     
                    {form_field field="brennstoff_zukunft"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                    {/form_field}
                        
                    
                    {form_field field="gebaeudeart"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                    <select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                              					{foreach $choices as $choice}
                            						<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
							 					{/foreach}
                                        </select>
                            </div><!--/.form-group-->
                    {/form_field} 
                        
                    {form_field field="baujahr"}
                        <div class="group-cellphone{if $error} has-error{/if}">
                            			<label class="fs-field-label-sm fs-anim-upper" for="q5" >{$label}</label>
                                		<br>
                            			
											<select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                            				{foreach $choices as $choice}
                             					<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
                           					{/foreach}
                            				</select>
                        </div><!--/.form-group-->
                    {/form_field}
                        
                    {form_field field="building_etage"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                                <div class="control-input">
                                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" maxlength="20" placeholder="5" value="{$value}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <span class="help-block">{$message}</span>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                            </div><!--/.form-group-->
                        {/form_field}
                        {form_field field="flaeche"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                                <div class="control-input">
                                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" maxlength="20" placeholder="3" value="{$value}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <span class="help-block">{$message}</span>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                            </div><!--/.form-group-->
                        {/form_field}
                        {form_field field="personen_anzahl"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                                <div class="control-input">
                                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" maxlength="20" placeholder="3" value="{$value}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <span class="help-block">{$message}</span>
                                        {assign var="error_focus" value="true"}
                                    {/if}
                                </div>
                            </div><!--/.form-group-->
                        {/form_field}
                        
                        {form_field field="wohnraumtemperatur"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                        {form_field field="aussentemperatur"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                                                
                        {form_field field="waermedaemmung"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                        {form_field field="fenster"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                         {form_field field="dach_daemmung"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                         {form_field field="lage_des_gebaeudes"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
								
                                
                             			
									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                         {form_field field="windlage_des_gebaudes"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">

									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                        {form_field field="anzahl_aussenwaende"} 
                            <div><label class="fs-field-label fs-anim-upper" for="q2">{$label}</label></div>
                            <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">

									<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                	{foreach $choices as $choice}
										<span><input class="radiovaluebrennstoff" id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="{$label_attr.for}{$choice->value}" class="radio{$choice->value} fs-field-label-sm radiolabel">{$choice->label}</label></span>
								 	{/foreach}
									</div>
							</div> 
                        {/form_field}
                        
                        
                        {form_field field="abgasfuehrung"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                    <select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                              					{foreach $choices as $choice}
                            						<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
							 					{/foreach}
                                        </select>
                            </div><!--/.form-group-->
                        {/form_field}
                        
                        {form_field field="heizungsmethode"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                    <select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                              					{foreach $choices as $choice}
                            						<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
							 					{/foreach}
                                        </select>
                            </div><!--/.form-group-->
                        {/form_field}
                        {form_field field="warmwasserversorgung"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                 
                              		    {foreach $choices as $choice}
                                		<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q7b" class="fs-field-label-sm">{$choice->label}</label></span>
                                	   {/foreach}
                            		
                            </div><!--/.form-group-->
                        {/form_field}
                        
                        {form_field field="wasserabfluss"}
                            <div class="group-cellphone{if $error} has-error{/if}">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                 
                              		    {foreach $choices as $choice}
                                		<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q7b" class="fs-field-label-sm">{$choice->label}</label></span>
                                	   {/foreach}
                            		
                            </div><!--/.form-group-->
                        {/form_field}
                        
                                                
                       
                            <div class="group-cellphone{if $error} has-error{/if}"  id="solaranlage">
                                 {form_field field="solaranlage"}
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                 
                              		    {foreach $choices as $choice}
                                		<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" class="radiovalue" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q7b" class="fs-field-label-sm">{$choice->label}</label></span>
                                	   {/foreach}
                                {/form_field}	
                            </div><!--/.form-group-->
                        
                        
                        {form_field field="solaranlageextra"}
                            <div class="group-cellphone{if $error} has-error{/if}" id="solaranlageextra"  style="display:none">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                 
                              		    {foreach $choices as $choice}
                                		<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q7b" class="fs-field-label-sm">{$choice->label}</label></span>
                                	   {/foreach}
                            		
                            </div><!--/.form-group-->
                        {/form_field}
                        
                        
                        {form_field field="photovoltaik"}
                            <div class="group-cellphone{if $error} has-error{/if}" id="photovoltaik">
                                <label class="control-label " for="{$label_attr.for}">{$label}</label><br>
    				                 
                              		    {foreach $choices as $choice}
                                		<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q7b" class="fs-field-label-sm">{$choice->label}</label></span>
                                	   {/foreach}
                            		
                            </div><!--/.form-group-->
                        {/form_field}


                        {form_field field="anmerkungen"}
							<label class="fs-field-label" for="{$label_attr.for}">Anmerkungen zu Ihrer Heizung</label><br>
							<textarea id="{$label_attr.for}" name="{$name}" placeholder="Anmerkungen" style="width: 90%;height: 120px;"></textarea>
						
						
                        
                            <div class="form-group group-btn">
                            <div class="control-btn col-sm-12 ">
                                <button type="submit" class="btn btn-primary" id="btn-submit"><i class="fa fa-chevron-right"></i> {intl l="Senden"}</button>
                            </div>
                        </div><!--/.form-group-->
                        {/form_field}
                    </div>  
                </fieldset>
                 
                       

				</form><!-- /fs-form -->
                {/form}
			</div><!-- /fs-form-wrap -->
        {/block}
		</div><!-- /container -->
            
            <form 
     ></form>
            
		<section id="products-new">	
			<div class="products-heading">  
            	<div id="waermebedarf"></div>        
			</div>
			<div id="category-products">
            </div><!-- /#category-products -->
		</section><!-- #products-heizung -->	
		
		<div id="product_suggestion">
			<ul id="products"></ul>
		</div>
    </div><!-- /.layout -->
{/block}

{block name="stylesheet"}
    {stylesheets file='assets/dist/css/dropzone.css'}
        <link rel="stylesheet" href="{$asset_url}">
    {/stylesheets}
	{hook name="register.stylesheet"}
{/block}

{block name="after-javascript-include"}
 <script src="{javascript file='assets/dist/js/vendors/dropzone.js'}"></script>

 <script>
$("#solaranlage").change(function(){

     var radiovalue =  $('.radiovalue:checked').val();
     if(radiovalue==1){
         $("#solaranlageextra").show();
   }   
    else $("#solaranlageextra").hide();
 });   

 Dropzone.options.formHeizungangebot = {

		  // Prevents Dropzone from uploading dropped files immediately
		  autoProcessQueue: false,
		  uploadMultiple: true,
		  addRemoveLinks: true,
		  parallelUploads: 10,
		  maxFilesize: 256,
		  clickable: false,
		  previewsContainer: '#previews',
		  hiddenInputContainer: "#imsirun",
		  capture:"#imsirun",
	      dictDefaultMessage: "Drop files here to upload",
	      dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
	      dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
	      dictFileTooBig: "File is too big ( { { filesize } } MiB). Max filesize: { { maxFilesize } } MiB.",
	      dictInvalidFileType: "You can't upload files of this type.",
	      dictResponseError: "Server responded with { { statusCode } } code.",
	      dictCancelUpload: "Cancel upload",
	      dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
	      dictRemoveFile: "Entfernen",
	      dictRemoveFileConfirmation: null,
	      dictMaxFilesExceeded: "You can not upload any more files.",
	      
		  init: function() {
            
              
		     var submitButton =document.getElementById("btn-submit");
		        myDropzone = this; // closure

		    submitButton.addEventListener("click", function(e) {
		    	
		    	
		      //myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                
                if(myDropzone.files.length!=0){
                	e.preventDefault();
                	  myDropzone.processQueue();
                }
                
		    });
		  },
	      success: function(file,response){
	    	  document.open();
	    	    document.write(response);
	    	    document.close();
	    	    window.history.pushState( { "html":response,"pageTitle":response.pageTitle } ,"", "/klimakonfigurator-angebot/success");
	      }
		};
  $("#form-heizungangebot").dropzone();
</script>
 


{hook name="register.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="register.javascript-initialization"}
{/block}