{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-klimakonfigurator{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Klima Konfigurator" d="klimakonfigurator.fo.default"}, 'url'=>{url path="/klimakonfigurator"}]]}
{/block}

{block name="main-content"}
    <div class="main">
            <!--h1 id="main-label" class="page-header">{intl l="Dein Angebot" d="hookkonfigurator.fo.default"}</h1-->

	<div class="container1">

		<div class="fs-form-wrap" id="fs-form-wrap">
			<div class="fs-title">
				<h1>IHR ANGEBOT</h1>
			</div>
              
          
        
            {form name="konfigurator.klima.berechnung"}
				<form id="form-konfigurator" class="form-horizontal fs-form fs-form-full " action="{url path="/konfigurator/suggestions"}" method="post" autocomplete="off" style="height:auto" >
                {form_field field='error_message'}
                	<input type="hidden" name="{$name}" value="{intl l="missing or invalid data"}" />
                {/form_field} 
                {form_hidden_fields}
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
                {hook name="konfigurator.form-top"}
					<ol class="fs-fields">
						<li>
							<h3 class="fs-anim-upper">Grundfläche und Raumhöhe</h3>
                            <div><label class="fs-field-label-sm fs-anim-upper" for="q6">Grundfläche des Räumes</label></div>
                            
                            {form_field field="grundflaeche"}
							<input class="fs-anim-lower"   name="{$name}" id="{$label_attr.for}" value="{$value}" type="number"  placeholder="30" step="1" min="1"  style="width:80%; float:left"/>
                             {/form_field}
                            <div style="float:left; padding:10px" class="fs-anim-lower">m2</div>
                            <div style="clear:both"></div>
                            <div><label class="fs-field-label-sm fs-anim-upper" for="q6">Raumhöhe</label></div>
                            {form_field field="raumhoehe"}
							<input class="fs-anim-lower"  name="{$name}" id="{$label_attr.for}" value="{$value}" type="number" placeholder="3" step="1" min="1" max="60" style="width:80%; float:left"/>
                            {/form_field}
                            <div style="float:left; padding:10px" class="fs-anim-lower">m</div>
                            
						</li>
                        
                        <li>
							<h3 class="fs-anim-upper">Fenster (mit Innenjalousie) der Sonne ausgesetzt</h3>
                            {form_field field="fenster"}
                            <input class="fs-anim-lower"  name="{$name}" id="{$label_attr.for}" value="{$value}" type="number" placeholder="3" step="1" min="1" max="60" style="width:80%; float:left"/>
                            {/form_field}
                            <div style="float:left; padding:10px"  class="fs-anim-lower">m</div>
						</li>
                        
						<li>
                            <h3 class="fs-anim-upper">Lage der Zimmer - Decke</h3>
							<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
								
								
                                    {form_field field="decke"}
                                    {foreach $choices as $choice}
										<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q8b" class="radio-conversion fs-field-label-sm">{$choice->label}</label></span>
								 	{/foreach}
                                     {/form_field}
                                    
							</div> 
						</li>
                        
                        
						<li>
                            <h3 class="fs-anim-upper">Anzahl der Personen</h3>
								<label class="fs-field-label-sm fs-anim-upper" for="q7" >Wie viele Personen halten sich dauerhaft im Raum auf</label>
                            	{form_field field="personen"}
                            
				                <input class="fs-anim-lower"  name="{$name}" id="{$label_attr.for}" value="{$value}" type="number" placeholder="1" step="1" min="1" max="8" />
                            	{/form_field}
                        
						</li>
                        
                        <li>
                            <h3 class="fs-anim-upper">Zusätzliche Wärme-Verursacher im Raum</h3>
							<label class="fs-field-label-sm fs-anim-upper" for="q10" >Anschlusswert in Watt von elektrischen Geräten und der Beleuchtung (TV, PC, Kühlschrank, Lampen etc.)</label>
                           
							<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                                {form_field field="zusaetzliche-waerme"}
                                <input class="fs-anim-lower"  name="{$name}" id="{$label_attr.for}" value="{$value}" type="number"  />
                                {/form_field}
                            </div>
                            
  
						</li>
                        
						<li>
							<h3 class="fs-anim-upper">Wegstrecke vom Innenteil zum Außenteil</h3>
							<label class="fs-field-label-sm fs-anim-upper" for="q13" >Bitte geben Sie die Wegstrecke vom Innenteil zum möglichen Standort des Außenteils in Meter an.</label>
                           
							<div><label class="fs-field-label-sm fs-anim-upper" for="q6">Innenteil für Raum:	</label></div>
                            {form_field field="wegstrecke"}
							<input class="fs-anim-lower"  name="{$name}" id="{$label_attr.for}" value="{$value}" type="number" placeholder="3" step="1" min="1" max="60" style="width:30%; float:left"/>
                            
                             {/form_field}
                            <div style="float:left; padding:10px" class="fs-anim-lower">m2</div>
                           
                            
                            <div style="float:right">
                            <label class="fs-field-label-sm fs-anim-upper" for="q14" > Kondensatablauf mit</label>
							{form_field field="kondensatablauf"}
							<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                               
								{foreach $choices as $choice}
										<span><input id="{$label_attr.for}{$choice->value}" name="{$name}" type="radio" value="{$choice->value}"{if $value === {$choice->value}} checked{/if}><label for="q8b" class="radio-conversion fs-field-label-sm">{$choice->label}</label></span>
								{/foreach}
								
							</div>
                                
                            {/form_field}
                            </div>
                            <div style="clear:both"></div>
                            <label class="fs-field-label-sm fs-anim-upper" for="q14" > Montage des Außenteils:</label>
				           <div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
							{form_field field="montage-aussenteil"}
											<select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                            				{foreach $choices as $choice}
                             					<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
                           					{/foreach}
                            				</select>
                            
                            {/form_field}
                            </div>
                            
                                                      
                            <label class="fs-field-label-sm fs-anim-upper" for="q14" > Stromanschluss Außenteil:</label>
							{form_field field="stromanschluss"}
							<div class="fs-radio-group fs-radio-normal clearfix fs-anim-lower">
                               
								<select name="{$name}" id="{$label_attr.for}{$choice->value}" class="fs-anim-lower">
                            				{foreach $choices as $choice}
                             					<option value="{$choice->value}"{if $value === {$choice->value}} checked{/if}>{$choice->label}</option>
                           					{/foreach}
                            				</select>
                               
								
							</div>
                            {/form_field}
                            
						</li>
				
                       	<li>
							<label class="fs-field-label fs-anim-upper" for="q15">Anmerkungen </label>
							<textarea class="fs-anim-lower" id="q15" name="q15" placeholder="Describe here"></textarea>
						</li>
						
					</ol><!-- /fs-fields -->
                  	
                  	<a href="/login"><button type="button" class="fs-submit"style="margin-bottom:20px">Individuelles Angebot</button></a>
					<button type="submit" class="fs-submit">Vorschlag sehen</button>

				</form><!-- /fs-form -->
                {/form}
			</div><!-- /fs-form-wrap -->
		</div><!-- /container -->
            
            
            
		<section id="products-new">	
			<div class="products-heading">  
            	<div id="waermebedarf"></div>        
			</div>
			<div id="category-products">
            </div><!-- /#category-products -->
		</section><!-- #products-heizung -->	
		
		<div id="product_suggestion">
			<ul id="products"></ul>
		</div>
    </div><!-- /.layout -->
{/block}

{block name="stylesheet"}
	{hook name="register.stylesheet"}
{/block}


{block name="after-javascript-include"}
 <script src="{javascript file='assets/dist/js/vendors/classie.js'}"></script>
 <script src="{javascript file='assets/dist/js/vendors/selectFx.js'}"></script>
 <script src="{javascript file='assets/dist/js/vendors/fullscreenForm.js'}"></script>
 
<script>

    $( ".form-horizontal" ).submit(function( e ) {
    alert("ani");
	e.preventDefault();
	$.ajax({
		type: $(this).attr('method'),
		url: $(this).attr('action'),
		data: $(this).serialize()
	})
	.done(function (data, textStatus, request) {
		$waermebedarf = request.getResponseHeader('waermebedarf');
		if($waermebedarf != null) 
			$('#waermebedarf').text("Wärmebedarf ist: "+$waermebedarf+"KW");
	   
		$("#category-products").empty().append(data);
	})
	.fail(function (jqXHR, textStatus, errorThrown) {
		if (typeof jqXHR.responseJSON !== 'undefined') {
			if (jqXHR.responseJSON.hasOwnProperty('form')) {
				$('#form_body').html(jqXHR.responseJSON.form);
			}
			$('.form_error').html(jqXHR.responseJSON.message);
		} else {
			alert(errorThrown);
		}
	});
});
(function() {
	var formWrap = document.getElementById( 'fs-form-wrap' );

	[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
		new SelectFx( el, {
			stickyPlaceholder: false,
			onChange: function(val){
				document.querySelector('span.cs-placeholder').style.backgroundColor = val;
			}
		});
	});

	new FForm( formWrap, {
		onReview : function() {
			//classie.add( document.body, 'overview' ); // for demo purposes only
		}
	} );
})();
</script>

{hook name="register.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="register.javascript-initialization"}
{/block}